<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助内容</title>
    <link rel="stylesheet" href="local-lib/elementui.css">
    <script src="local-lib/vue.js"></script>
    <script src="local-lib/elementui.js"></script>
    <style>
        body {
            margin: 0px;
        }
        .el-aside {
            line-height: 50px;
            background-color: #C7C5B8;
            text-align: center;
        }
        .el-main {
            background-color: #E9E9E1;
            height: 660px;
        }
        h5:hover {
            cursor: pointer;
            color: #FF4831;
        }
    </style>
</head>
<body>
<div id="help">
    <el-container>
        <el-aside width="200px">
            <h5 @click="changePage('intro')">介绍</h5>
            <h5 @click="changePage('basic usage')">基本使用</h5>
        </el-aside>
        <el-main>
            <template v-if="page === 'intro'">
                <h2>欢迎使用Month Money Manager V2</h2>
                <p>
                    本软件是以月为周期计算每日可用资金的预算计算软件，除了基本的日预算计算，还支持记录两种基本类型的资产和待摊费用。
                </p>
                <h3>每日可用资金</h3>
                <p>
                    按照用户输入的资金总额和想存下的金额相减的值就是总可支配余额，然后用可支配余额除以该月剩余天数即是每日可支配余额，用户
                    可以输入今日支出，软件会自动计算今日可使用余额的剩余值，如果超过今日可用余额则显示负数，从而第二天的可用余额变少。
                </p>
                <h3>资产</h3>
                <p>
                    软件提供了两种资产的记录，一种是资产，指现金、存款等，另一种是实物资产，指食物、饮品等具体物品。通过集成资产记录方便
                    用户记录、修正资产的数量。
                </p>
                <h3>待摊费用</h3>
                <p>
                    这是一个来自会计学的概念，指当期发生的支出，由当期和以后各期进行负担的费用。简单而言，本月用户记录了一笔价值3000元
                    的费用，这笔费用可以分摊到后面的3个月里，每个月分摊1000元，而软件中的处理是记录在目标储蓄额里，意味着用户后3个月每个
                    月都要省下1000元然后才能抵消这笔费用，通过引入待摊费用强化用户的储蓄意愿。
                </p>
            </template>
            <template v-if="page === 'basic usage'">
                <h2>下面介绍软件的基本使用</h2>
                <h3>主界面</h3>
                <p>
                    软件一打开会进入主界面，但如果用户没有设置任何预算计划，将会进入“添加资产”页面进行设置，如果用户有未分摊完的待摊费用，
                    也会进行提醒。 设置好预算计划之后，回到主界面可以看到顶部面板实时更新了各个数值。用户日常使用的时候可以点击主界面
                    的“追加今日支出”添加当日的支出，默认是一笔一笔地追加，但是可以在弹出的窗口里选择自动计算开支，此时要输入的是总资金剩余
                    而不是单笔的支出，输入完成后软件会自动计算当日的开支。
                </p>
                <h3>添加资产</h3>
                <p>
                    从主界面点击“添加资产”进入，三个标签页分别用于设置每月预算、添加资产和待摊费用，但要注意的是“额度”、“总额”、“数量”等
                    输入框要求输入数字，非法字符将不会被录入。另外，如果输入的数据不全，也无法录入，每一个标签页的输入框必须填入合适的值才
                    能正常录入用户数据。
                </p>
                <h3>资产信息</h3>
                <p>
                    从主界面点击“资产信息”进入，右侧列表展示用户记录的全部资产（不含月预算），用户可以通过左侧按钮对列表进行操作，包括删除
                    资产项，而左下的“选择资产项目”和“目前数量”用于特定资产的数量修正，输入的数值将会覆盖原有的数值。
                </p>
                <h3>待摊费用</h3>
                <p>
                    使用方式与“添加资产”相似，“本月摊销额度”，输入的值将会从剩余费用里抵扣，然后在目标储蓄额里追加这部分的费用，如果本月
                    摊销超过剩余费用，则剩余费用变为0，而目标储蓄照常增加
                </p>
            </template>
        </el-main>
    </el-container>
</div>
</body>
<script>
    const vm = new Vue({
      el:'#help',
      data:{
        page: 'intro'
      },
      methods:{
        changePage: function (page) {
          this.page = page;
        }
      }
    })
</script>
</html>
